<h2 mat-dialog-title>Audit Details <b>{{audit.id}}</b></h2>
<mat-dialog-content>
  <table class="table table-bordered table-striped">
    <tr>
      <td style="text-align: right; width: 25%">Event Name</td>
      <td style="width: 25%">{{audit.eventName}}</td>
      <td style="text-align: right; width: 25%">Event Time</td>
      <td style="width: 25%">{{audit.eventTime}}</td>
    </tr>
    <tr>
      <td style="text-align: right">Authentication Type</td>
      <td>{{audit.authType}}</td>
      <td style="text-align: right">Display Level</td>
      <td>{{audit.displayLevel}}</td>
    </tr>
    <tr>
      <td style="text-align: right">Principle Name</td>
      <td>{{audit.principleName}}</td>
      <td style="text-align: right">Principle Type</td>
      <td>{{audit.principleType}}</td>
    </tr>
    <tr>
      <td style="text-align: right">Resource ID</td>
      <td>{{audit.resourceId}}</td>
      <td style="text-align: right">Resource Type</td>
      <td>{{audit.resourceType}}</td>
    </tr>
    <tr>
      <td style="text-align: right">Exception Name Type</td>
      <td>{{audit.exceptionName}}</td>
      <td style="text-align: right">Exception Message</td>
      <td>{{audit.exceptionMessage}}</td>
    </tr>
    <tr>
      <td style="text-align: right">Resource Type</td>
      <td>{{audit.resourceType}}</td>
      <td style="text-align: right">Remote IP</td>
      <td>{{audit.remoteIp}}</td>
    </tr>
    <tr>
      <td style="text-align: right">Session ID</td>
      <td>{{audit.sessionId}}</td>
      <td style="text-align: right">Message</td>
      <td>{{audit.message}}</td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="btn btn-danger" [mat-dialog-close]="">Close</button>
</mat-dialog-actions>
