<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" routerLink="/client">Clients</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
  </ol>
</nav>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Detail for Client <b>{{client.clientName}}</b></h5>
  </div>
  <table>
    <tbody>
    <tr>
      <td>Client ID</td>
      <td>{{client.clientId}}</td>
    </tr>
    </tbody>
  </table>
</div>

<mat-card>
  <mat-card-title>Detail for Client <b>{{client.clientName}}</b></mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-list>
          <h3 mat-subheader>Common Details</h3>
          <mat-list-item>
            <h4 mat-line>Client ID</h4>
            <p mat-line>{{client.clientId}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Client Name</h4>
            <p mat-line>{{client.clientName}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Status</h4>
            <p mat-line>{{client.status}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Redirect URI</h4>
            <p mat-line>{{client.redirectUri}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Creation Date</h4>
            <p mat-line>{{client.creationDate}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Expiry Date</h4>
            <p mat-line>{{client.expiryDate || 'None'}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Access Token Validity</h4>
            <p mat-line>{{client.accessTokenValidity}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Refresh Token Validity</h4>
            <p mat-line>{{client.refreshTokenValidity}}</p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-list>
          <h3 mat-subheader>Common Details</h3>
          <mat-list-item>
            <h4 mat-line>Client ID</h4>
            <p mat-line>{{client.clientId}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Client Name</h4>
            <p mat-line>{{client.clientName}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Status</h4>
            <p mat-line>{{client.status}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Redirect URI</h4>
            <p mat-line>{{client.redirectUri}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Creation Date</h4>
            <p mat-line>{{client.creationDate}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Expiry Date</h4>
            <p mat-line>{{client.expiryDate || 'None'}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Access Token Validity</h4>
            <p mat-line>{{client.accessTokenValidity}}</p>
          </mat-list-item>
          <mat-list-item>
            <h4 mat-line>Refresh Token Validity</h4>
            <p mat-line>{{client.refreshTokenValidity}}</p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-row">
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">reply</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
