<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">{{user.username}} <span
      [class]="user.status === 'ACTIVE'? 'dot-active': 'dot-inactive'"></span></h5>
    <p class="card-text" *ngIf="editMode == false">Display User details</p>
    <p class="card-text" *ngIf="editMode">Edit Client details</p>
  </div>
  <mat-tab-group>
    <mat-tab label="General">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" disabled [(ngModel)]="user.username">
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="First Name" [disabled]="editMode == false" [(ngModel)]="user.firstName">
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last Name" [disabled]="editMode == false" [(ngModel)]="user.lastName">
          </mat-form-field>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Advanced">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Creation Date" type="datetime-local" disabled
                   [(ngModel)]="user.creationDate">
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-slide-toggle [(ngModel)]="user.admin" [disabled]="editMode == false">{{user.admin?'Admin':'Not an Admin'}}</mat-slide-toggle>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Expiry Date" type="datetime-local" [disabled]="editMode == false"
                   [(ngModel)]="user.expiryDate">
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password Expiry Date" type="datetime-local" disabled
                   [(ngModel)]="user.passwordExpiryDate">
          </mat-form-field>
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
  <div class="card-body">
    <button mat-icon-button color="accent" routerLink="/user">
      <mat-icon>replay</mat-icon>
    </button>
    <a href="#" class="card-link" *ngIf="editMode == false" [routerLink]="['/user', 'edit', user.username]">Edit
      User</a>
    <a href="#" class="card-link" *ngIf="editMode == true"
       [routerLink]="['/user', 'detail', user.username]">Cancel</a>
    <a href="#" class="card-link" *ngIf="editMode == true" (click)="save()">Save User</a>
    <a href="#" class="card-link" *ngIf="user.status === 'ACTIVE'" (click)="lockUser()">Lock User</a>
    <a href="#" class="card-link" *ngIf="user.status === 'LOCKED'" (click)="enableUser()">Enable User</a>
  </div>
</div>
