<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">{{client.clientName||'New Client'}} <span class="dot-inactive"></span></h5>
    <p class="card-text">Create a new Client</p>
  </div>
  <mat-tab-group>
    <mat-tab label="General">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Client ID" [(ngModel)]="client.clientId">
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Client Name" [(ngModel)]="client.clientName" required>
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Expiry Date" type="datetime-local" [(ngModel)]="client.expiryDate">
          </mat-form-field>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Configurations">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput type="url" placeholder="Redirect URI" [(ngModel)]="client.redirectUri" required>
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Access Token Validity" [(ngModel)]="client.accessTokenValidity" required>
          </mat-form-field>
        </li>
        <li class="list-group-item">
          <mat-form-field class="full-width">
            <input matInput placeholder="Refresh Token Validity" [(ngModel)]="client.refreshTokenValidity" required>
          </mat-form-field>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Scopes">
      <table mat-table [dataSource]="scopeDS" class="main-table">
        <ng-container matColumnDef="scopeId">
          <th mat-header-cell *matHeaderCellDef> Scope ID</th>
          <td mat-cell *matCellDef="let element"> {{element.scopeId}}</td>
        </ng-container>

        <ng-container matColumnDef="scopeName">
          <th mat-header-cell *matHeaderCellDef> Scope Name</th>
          <td mat-cell *matCellDef="let element"> {{element.scopeName}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="deleteScope(element.scopeId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="scopeColumns"></tr>
        <tr mat-row *matRowDef='let row; columns: scopeColumns;'></tr>
      </table>
      <button mat-icon-button color="warn" (click)="addScope()">
        <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
      </button>
    </mat-tab>
  </mat-tab-group>
  <div class="card-body">
    <a href="#" class="card-link" [routerLink]="['/client']">Cancel</a>
    <a href="#" class="card-link" (click)="save()">Save Client</a>
  </div>
</div>
